<section class="create-comment container">
    <form class="create-comment-form" action="/create-post" method="POST" >
        <input name="title" placeholder="Başlık" required />
        <div class="form-content-container">
            <textarea name="content" placeholder="İçerik" required></textarea>
            <input name="tags" placeholder="Etiketler (virgülle ayırın: js, node, express)" />
            <button type="submit">Gönder</button>
        </div>
    </form>
</section>